*{
    margin: 0;
    padding: 0;

}
header{
    background-color: rgb(0, 0, 0);
    padding-top: 11px;
}
#head{
    color: beige;
    height: 70px;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    padding-top:20PX ;
}
/* #search_bar{
    transform: translate(585px , 10px);

    
} */
#find{
    display: flex;
    justify-content: center;
    padding-top: 10px;

}
main{
    background-color: rgb(64, 87, 87);
    height:700px;
}
#holding{
    color: rgb(0, 0, 0);
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    width: 300px;
    transform: translate(100px , 200px);
    border:solid whitesmoke 4px;
    border-radius: 2px;
    padding: 60px;
    padding-top: 150px;
    padding-bottom: 150px;
}
/* #portfolio{
    color: rgb(0, 0, 0);
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    width: 300px;   
    transform: translate(1000px , 100px);

} */
#portfolio{
    
    width: 23%;
    display: flex;
    justify-content: right;align-items: flex-end;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    /* transform: translate(900px , 90px); */
    border: solid 4px whitesmoke;
    border-radius: 2px;
    padding: 60px;
    padding-top: 150px;
    padding-bottom: 150px;
    transform:translate(800px , -80px);
    /* transform:translateY(800px); */
    
    
}